body {
    /* Устанавливаем основной шрифт всей страницы */
    font-family: 'Arial', sans-serif;
  
    /* Настраиваем стили так, чтобы центрировать все содержимое по вертикали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* Растягиваем страницу на всю высоту экрана */
    height: 100vh;
  
    /* Убираем внешние отступы */
    margin: 0;
  
    /* Устанавливаем основной цвет текста */
    color: #333;
}

.cell{
    width: 60px;
    height: 60px;
    border:1px solid black;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}